.ContextMenu {

    //
    position: absolute;

    //
    display: flex;
    flex-direction: column;

    //
    background: $white;
    border-radius: 0.2em;
    overflow: hidden;

    //
    color: $colour-background;

    //
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);

    //
    z-index: 1;

    //
    .ContextMenuItem {
        
        //
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        //
        align-items: center;

        //
        gap: 2em;

        //
        &:not(:first-child) { border-top: 0.1em solid lighten($colour-background, 60%); }
        padding: 0.3em 0.8em 0.2em 0.8em;

        //
        &.indeterminate > svg {
            color: rgba($colour-background, 0.3);
        }

        //
        &:hover {
            background-color: lighten($colour-background, 65%);
            cursor: pointer;
        }
    }

    //
    .ContextMenuDivider {
        border-top: 0.2em solid lighten($colour-background, 60%);
        & + .ContextMenuItem { border-top: none; }
    }

}