


@mixin headings {
    h1, h2, h3, h4, h5, h6 {
        @content;
    }
}

//define some basic colours
$black     : #000000;
$white     : #ffffff;

$primary   : #cf101a;
$secondary : #333333;

//
$colour-pokedex-red1: #aa3030;
$colour-pokedex-red2: #d14444;

//
$colour-foreground : #e7e7e6; // white
$colour-background : #464646; // greyblack

//
$colour-blue : #6ea4bb;
$colour-red : #c04c4b; // red
$colour-yellow : #f0dba5; // yellow


//------------------------------------------------------------------------------

//include a reset file
@import 'reset';

//mixins
@import 'mixins/position';

//------------------------------------------------------------------------------

//import the font hosted via google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500|Roboto:400,400i,700,700i|Source+Code+Pro');

//define some mixins to make use of this easy
@mixin font-heading($size: false, $colour: false, $weight: false) {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    @if $size   { font-size: $size;     }    
    @if $colour { color: $colour;       }      
    @if $weight { font-weight: $weight; }
}

@mixin font-general($size: false, $colour: false, $weight: false) {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    @if $size   { font-size: $size;     }
    @if $colour { color: $colour;       }
    @if $weight { font-weight: $weight; }
}

@mixin font-monospace($size: false, $colour: false, $weight: false) {
    font-family: 'Source Code Pro', Helvetica, Arial, sans-serif;
    @if $size   { font-size: $size;     }
    @if $colour { color: $colour;       }
    @if $weight { font-weight: $weight; }
}

//------------------------------------------------------------------------------

//
body {
    @include font-general($size: 16px, $colour: $colour-foreground);
    line-height: 150%;
}

//
@include headings() {
	@include font-heading($colour: $colour-foreground);
    line-height: 120%;
}

//------------------------------------------------------------------------------

//main design elements
#root {

    //
    height: 100vh;
    width: 100vw;

    //
    display: flex;
    flex-direction: column;

    background-color: $colour-pokedex-red1;

    //
    > header {

        //
        position: relative;

        //
        background-color: $colour-pokedex-red2;

        //
        height: 3em;

        //
        svg {
            position: relative;
            top: 0.4em;
            left: 0.7em;
        }

        //
        &::before {

            //
            position: absolute;
            content: '';

            //
            border-top: 6em solid $colour-pokedex-red2;
            border-right: 6em solid transparent;
            height: 0;
            width: 35em;

        }

    }

    //style the main "screen" area
    > main {

        //
        margin: 1em 2em 1em 2em;
        padding: 1.5em;

        //
        border-radius: 1em;
        border-bottom-left-radius: 3em;

        //
        background-color: $colour-background;

        //
        flex: 1 1 100%;

        //
        overflow: hidden;

    }

    //
    > footer {

        //
        padding: 0em 5em;

        //
        @include font-heading($size: 0.8em, $weight: 300);
        text-align: right;

        //
        background-color: $colour-pokedex-red2;

    }

}

//------------------------------------------------------------------------------

//
.control-bar {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    //
    .control-group { 
        
        display: flex;
        flex-direction: row;

        //
        & + .control-group { margin-left: 1em; }

    }

    //
    .control-button {
        
        //
        width: 2.3em; height: 2.3em;

        //
        cursor: pointer;
        &:hover { background-color: darken($colour-background, 10%); color: #FFFFFF; }

        //
        border-radius: 0.2em;

        //
        display: flex;
        justify-content: center;
        align-items: center;

    }

    //
    input[type="search"] {

        //
        width: 35em;
    
        //
        font-size: 1.2em;
        color: $colour-background;

        //
        &::placeholder {
            color: $colour-background;
        }

    }

}

//------------------------------------------------------------------------------


.selection-info {
    background-color: #e4c049;
    color: #000000;
    padding: 0.3em;
    margin: 1em;
}




.pokedex { 

    // display: flex;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));


    grid-column-gap: 0.7em;
    grid-row-gap: 0.7em;

    padding: 1em 0.5em;




    /*
    .pokemon:nth-child(-n+12) {
        background-color: #d6d6d6;
    }

    .pokemon:first-child {
        background-color: #c4c4c4;
    }

    .pokemon:nth-child(12) {
        background-color: #c4c4c4;
    }*/






    .pokemon {

        @include relative();

        height: 12em;
        
        // border: 2px solid #BBBBBB;
        // border-radius: 0.1em;

        // box-shadow: 0.2em 0.2em #DEDEDE;

        // background-color: #FCFCFC;

        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;

        display: flex;
        align-items: center;
        justify-content: center;

        &[data-selected=yes] {
            background-color: #666666;
            outline: 2px solid #CCCCCC !important;
        }


        .pokemon-number {
            // display: none;
            @include absolute(top 0 right 0.2em);
            color: #BBBBBB;
            font-weight: bold;

            &::first-letter { color: #CCCCCC; font-weight: normal; }
        }

        .pokemon-name {
            // display: none;

            @include absolute(top 0 left 0);
            background-color: rgba(255, 255, 255, 0.7);
            border-bottom-right-radius: 0.5em;
            padding: 0.1em 0.4em 0.1em 0.3em;
            
            color: #666666;
            //font-weight: bold;

        }


        .pokemon-icons {
            @include absolute(bottom 0 right 0 left 0);

            display: none;
            align-content: stretch;

            i {
                display: block;
                flex: 1 0 1em;

                color: #666666;

                text-align: center;
                background: rgba(255, 255, 255, 0.8);
                padding: 0.4em;

                cursor: pointer;

                &:hover { color: #333333; background-color: rgba(226, 226, 226, 0.842)}

            }

        }

        &:hover {

            // border: 1px solid #BBBBBB;
            border-radius: 0.05em;

            // box-shadow: 0.2em 0.2em #DEDEDE;

            background-color: #222222;
            cursor: pointer;

        }


        // &:not(:hover) {
        //     .pokemon-number, .pokemon-name, .pokemon-icons {
        //         display: none;
        //     }
        // }





        //add a indicator to the "active" tags
        &[data-tags*="user:FEMALE"] .pokemon-icons i[title="Female"] { 
            color: #FFFFFF; background-color: #666666; 
            &:hover { color: #BBBBBB; background-color: #333333; }
        }
        &[data-tags*="user:MALE"] .pokemon-icons i[title="Male"] { 
            color: #FFFFFF; background-color: #666666; 
            &:hover { color: #BBBBBB; background-color: #333333; }
        }
        &[data-tags*="user:SHINY"] .pokemon-icons i[title="Shiny"] { 
            color: #FFFFFF; background-color: #666666; 
            &:hover { color: #BBBBBB; background-color: #333333; }
        }
        &[data-tags*="user:SHADOW"] .pokemon-icons i[title="Shadow"] { 
            color: #FFFFFF; background-color: #666666; 
            &:hover { color: #BBBBBB; background-color: #333333; }
        }
        &[data-tags*="user:PURIFIED"] .pokemon-icons i[title="Purified"] { 
            color: #FFFFFF; background-color: #666666; 
            &:hover { color: #BBBBBB; background-color: #333333; }
        }
        &[data-tags*="user:LUCKY"] .pokemon-icons i[title="Lucky"] { 
            color: #FFFFFF; background-color: #666666; 
            &:hover { color: #BBBBBB; background-color: #333333; }
        }

    }

    //reduce the opacity and saturation of unowned pokemon
    .pokemon:not([data-tags*="user:FEMALE"]):not([data-tags*="user:MALE"]):not([data-tags*="user:SHINY"]):not([data-tags*="user:SHADOW"]):not([data-tags*="user:PURIFIED"]):not([data-tags*="user:LUCKY"]) img {
        filter: saturate(0%);
        opacity: 0.7;
    }

    //
    .pokemon[data-tags*="user:FEMALE"], .pokemon[data-tags*="user:MALE"], .pokemon[data-tags*="user:SHINY"], .pokemon[data-tags*="user:SHADOW"], .pokemon[data-tags*="user:PURIFIED"], .pokemon[data-tags*="user:LUCKY"] {
        // border-color: #71c7ec; //border-color: #8aec71;
        // background-color: rgba(113, 199, 236, 0.1); //background-color: rgba(138, 236, 113, 0.2);
    }

    .pokemon[data-tags*="user:LUCKY"] {
        // border-color: #ffcf40;
        background-color: rgba(255, 207, 64, 0.1);
        background-image: url(/images/lucky.png);
    }

    .pokemon[data-tags*="user:SHINY"] {
        // border-color: #ffcf40;
        // background-color: rgba(113, 199, 236, 0.1);
        // background-image: url(/images/shiny.png);
    }


    // .pokemon[data-tags*="user:SHINY"] .pokemon-shiny{
    //     @include absolute(bottom 0 right 0);
    //     background-image: url(/images/shiny.png);
    //     width: 64px;
    //     height: 64px;
    //     opacity: 0.8;
    // }



}
