


@mixin headings {
    h1, h2, h3, h4, h5, h6 {
        @content;
    }
}

//define some basic colours
$black     : #000000;
$white     : #ffffff;

$primary   : #cf101a;
$secondary : #333333;

//
$colour-pokedex-red1: #aa3030;
$colour-pokedex-red2: #d14444;

//
$colour-foreground : #e7e7e6; // white
$colour-background : #464646; // greyblack

//
$colour-blue : #6ea4bb;
$colour-red : #c04c4b; // red
$colour-yellow : #f0dba5; // yellow


//------------------------------------------------------------------------------

//include a reset file
@import 'reset';

//mixins
@import 'mixins/position';

//------------------------------------------------------------------------------

//import the font hosted via google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500|Roboto:400,400i,700,700i|Source+Code+Pro');

//define some mixins to make use of this easy
@mixin font-heading($size: false, $colour: false, $weight: false) {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    @if $size   { font-size: $size;     }
    @if $colour { color: $colour;       }
    @if $weight { font-weight: $weight; }
}

@mixin font-general($size: false, $colour: false, $weight: false) {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    @if $size   { font-size: $size;     }
    @if $colour { color: $colour;       }
    @if $weight { font-weight: $weight; }
}

@mixin font-monospace($size: false, $colour: false, $weight: false) {
    font-family: 'Source Code Pro', Helvetica, Arial, sans-serif;
    @if $size   { font-size: $size;     }
    @if $colour { color: $colour;       }
    @if $weight { font-weight: $weight; }
}

//------------------------------------------------------------------------------

//
body {
    @include font-general($size: 16px, $colour: $colour-foreground);
    line-height: 150%;
}

//
@include headings() {
	@include font-heading($colour: $colour-foreground);
    line-height: 120%;
}

//------------------------------------------------------------------------------

//main design elements
#root {

    //
    height: 100vh;
    width: 100vw;

    //
    display: flex;
    flex-direction: column;

    background-color: $colour-pokedex-red1;

    //
    > header {

        //
        position: relative;
        z-index: 10;

        //
        background-color: $colour-pokedex-red2;

        //
        height: 3em;

        //
        svg {
            position: relative;
            top: 0.4em;
            left: 0.7em;
        }

        //
        &::before {

            //
            position: absolute;
            content: '';

            //
            border-top: 6em solid $colour-pokedex-red2;
            border-right: 6em solid transparent;
            height: 0;
            width: 35em;

        }

    }

    //style the main "screen" area
    > main {

        //
        position: relative;
        z-index: 0;

        //
        margin: 1em 2em 1em 2em;
        padding: 1.5em;

        //
        border-radius: 1em;
        border-bottom-left-radius: 3em;

        //
        background-color: $colour-background;

        //
        flex: 1 1 100%;

        //
        overflow: hidden;

        //
        display: flex;
        flex-direction: column;

        & > :last-child() { flex: 1 1 100%; }

        //shine
        &::after {

            //
            @include absolute(top 0 right 0 bottom 0 left 0);
            content: '';

            //make sure the layer is transparent to any mouse stuff
            pointer-events: none;

            //
            background: linear-gradient(135deg,
                transparent 0%,

                transparent 19.5%,
                rgba($colour-foreground, 0.05) 20%,
                rgba($colour-foreground, 0.05) 30%,
                transparent 30.5%,

                transparent 59.5%,
                rgba($colour-foreground, 0.05) 60%,
                rgba($colour-foreground, 0.05) 65%,
                transparent 65.5%,

                transparent 67.5%,
                rgba($colour-foreground, 0.05) 68%,
                rgba($colour-foreground, 0.05) 78%,
                transparent 78.5%,

                transparent 100%
            );

        }

    }

    //
    > footer {

        //
        padding: 0em 5em;

        //
        @include font-heading($size: 0.8em, $weight: 300);
        text-align: right;

        //
        background-color: $colour-pokedex-red2;

    }

}


@import 'dropdown';


//------------------------------------------------------------------------------

//
.popup-container {

    //
    @include absolute(top 0 right 0 bottom 0 left 0);    

    //
    .popup {

        //position the popup slight above center
        @include absolute(top 0 bottom 0 left 0);

        //
        width: 40%;
        min-width: 500px;

        //
        height: auto;
        min-height: 30em;

        //
        background-color: rgba(darken($colour-background, 5%), 0.95);
        box-shadow: 0.3em 0em 0.1em 0.0em rgba(darken($colour-background, 10%), 0.70);

        //
        display: flex;
        flex-direction: column;

        //
        .popup-content {
            flex: 1 1 100%;
            margin-right: 0.5em;

            .popup-content-inner {
                margin: 3em 0.5em 1em 1em;
            }

        }

        //
        .popup-footer {

            //
            padding: 1em 0.8em 1em 2em;

            //
            display: flex;
            align-items: center;
            gap: 0.8em;

            //
            background-color: rgba(darken($colour-background, 8%), 0.8);

            //
            .popup-title {
                @include font-heading($size: 1.4em, $weight: 600);
                flex: 1 1 100%;
            }

        }

    }

}

//------------------------------------------------------------------------------

//
.control-bar {

    //
    margin-bottom: 1em;

    //
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    //
    .control-group {

        display: flex;
        flex-direction: row;

        //
        & + .control-group { margin-left: 1em; }

    }

    //
    .control-button {

        //
        width: 2.3em; height: 2.3em;

        //
        cursor: pointer;
        &:hover { background-color: rgba(darken($colour-background, 30%), 0.3); color: #FFFFFF; }

        //
        border-radius: 0.2em;

        //
        display: flex;
        justify-content: center;
        align-items: center;

    }

    //
    input[type="search"] {

        //
        width: 35em;

        //
        font-size: 1.2em;
        color: $colour-background;

        //
        &::placeholder {
            color: $colour-background;
        }

    }

}

//------------------------------------------------------------------------------

.selection-info {
    background-color: #e4c049;
    color: #000000;
    padding: 0.3em;
    margin: 1em;
}

//------------------------------------------------------------------------------

//add a soft blur to the top and bottom edged to soften the transition when scrolling
.pokedex-outer {

    //
    position: relative;

    //
    flex: 1;

    //
    &::after {

        //
        @include absolute(top 0 right 0 bottom 0 left 0);
        content: '';

        //
        pointer-events: none;

        //
        box-shadow: inset 0  1em 0.2em -0.5em $colour-background,
                    inset 0 -1em 0.2em -0.5em $colour-background;

    }

}

//
.pokedex {

    //
    padding: 0.6em 1em 0.6em 0.2em;

    //
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));

    grid-column-gap: 0.7em;
    grid-row-gap: 0.7em;

    //
    .pokemon {

        //
        @include relative();

        //
        height: 12em;

        //
        cursor: pointer;

        //
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;

        //
        display: flex;
        align-items: center;
        justify-content: center;

        //style the name and number indicators
        .pokemon-name {
            @include absolute(top 0 left 0);
            padding: 0.1em 0.4em 0.1em 0.3em;
        }

        .pokemon-number {
            @include absolute(top 0 right 0.2em);
            &::first-letter { color: #999999; }
        }

        .pokemon-name, .pokemon-number {
            opacity: 0.3;
            color: $colour-foreground;
        }

        //apply some hover styling
        &:hover {

            //soften the corner when hovering
            border-radius: 0.1em;

            //
            background-color: rgba(lighten($colour-background, 20%), 0.3);

            //
            .pokemon-name, .pokemon-number { opacity: 1; }

        }

        //
        &[data-selected=yes] {

            //
            background-color: rgba(lighten($colour-background, 40%), 0.3);
            outline: 2px solid $colour-foreground;

            //
            .pokemon-name, .pokemon-number { opacity: 1; }

            //
            .pokemon-name {
                color: $colour-background;
                background-color: $colour-foreground;
                border-bottom-right-radius: 0.5em;
            }

        }

    }

    //reduce the opacity and saturation of unowned pokemon
    .pokemon:not([data-tags*="user:FEMALE"]):not([data-tags*="user:MALE"]):not([data-tags*="user:SHINY"]):not([data-tags*="user:SHADOW"]):not([data-tags*="user:PURIFIED"]):not([data-tags*="user:LUCKY"]) img {
        filter: saturate(0%);
        opacity: 0.7;
    }

    //show the golden sparkles for lucky pokemon
    .pokemon[data-tags*="user:LUCKY"] {
        background-color: rgba(255, 207, 64, 0.1);
        background-image: url(/images/lucky.png);
    }

}

//------------------------------------------------------------------------------

.profiles {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    // padding-right: 0.5em;
    // outline: 1px solid #FF0000;
} 


.profile {

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1em;

    padding: 1em;

    border: 1px solid rgba($colour-foreground, 0.3);

    &:hover {
        border: 1px solid rgba($colour-foreground, 1.0);
        cursor: pointer;
    }

    > div:first-child {
        flex: 1 1 100%;
    }

    //show the edit button when hovering
    > div.control-button { display: none; }
    &:hover > div.control-button { display: block; }


    // &[data-selected] {
    //     > div:last-child { display: block; }
    // }

}